@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Alto's Restaurant</h1>

</div>

<body>
    <div class="text-center">
        <h5>Our Market</h5>
        <h2>
            Locally Sourced.
            Downright Delicious.
            <br />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXkICPJG4WyZPAKJHM2Rao-20FhmFb1E3LaA&usqp=CAU" height="100" width="100" align="left" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtefOIJlaXpqtb3NjiJQQXP-_3gtrro7ufYQ&usqp=CAU" height="100" width="100" align="right" />
        </h2>
        <p>
            Alto's is a restaurant in the heart of Missoula.
            We source Local and sustainably cultivated products
            as often as possible to ensure we're offering
            our customers the highest quality
            selection available.
        </p>

    </div>

    @*<img src="" height="150" width="100%"/>  Looking for a 100 percent width image that will look good here.*@

    <div class="text-center">
        <h5>Offerings</h5>
        <h2>
            Fresh Food.
            Fresh Service.
            <br />
            <img src="https://images.immediate.co.uk/production/volatile/sites/30/2022/03/healthy-meals-one-c1a1214.jpg" height="100" width="100" align="left" />
            <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/flat-white-3402c4f.jpg" height="100" width="100" align="right" />
        </h2>
        <p>
            We are a fully functioning restaurant with
            an extensive menu. Our meals are great for
            on-the-go and in shop.
        </p>
        <div><p><a href="https://localhost:7212/Home/MENU">See The Menu</a></p></div>
    </div>

    @*<img src="" height="150" width="100%"/>  Looking for a 100 percent width image that will look good here.*@
    <br />
    <br />
    <br />
    <div>
        <h2>CONTACT US</h2>
        <h5>Requests?  Comments? Feedback? </h5>
        <p>
            Email us at <b>altosoffice@gmail.com</b> <br />
            or <br />
            Give us a call at <b>082 953 6498</b>
        </p>

        <h5>Office hours</h5>
        <ul>
            <li><b>Monday through Friday:</b><i> 7 A.M. to 8 P.M.   |   Breakfast til 11 A.M.</i></li>
            <li><b>Saturday:</b><i>8 A.M. to 8 P.M.   |   Breakfast til 1 P.M.</i> </li>
            <li><b>Sunday:</b><i>8 A.M. to 7 P.M.   |   Breakfast til 1 P.M.</i> </li>
        </ul>

    </div>
</body>
